.header {
  background-color: $c-gray-light;
  grid-area: header;
}

.menu{
  display: flex;
  justify-content: left;
  padding: 1rem 0;
  height: 100%;
  
  @include device( phone ){
		justify-content: center;
  }
  .menu__list {
    @include device( phone ){
      // flex: 1;
			text-align: center;
      
      
    }
  }
  .menu__item {
   @include device( phone ){
      display: flex;
      flex-direction: column;
			
      
    }
  }
}

.menu__link {
  color: $c-gray-dark;
  padding: .5rem 1rem;
  &:hover {
    border-bottom: 2px solid $c-blue-dark;
    color: orange;
		
  }
  @include device( phone ){
    width: max-content;
	
  }
}

.active {}