.main {
  background-color: $c-orange;
  grid-area: main;
}

.highlights{
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(4, 33,33%);
  height: calc( 100vh - 5rem);
  .highlights__principal {
    background-image: url(".././img/fortinet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-column-start:  1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .highlights__secundary {
    background-image: url("../img/pubg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .highlights__secundary:nth-of-type(3){
    background-image: url("../img/slack.png");
    background-repeat: no-repeat;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .highlights__secundary:nth-of-type(4){
    background-image: url("../img/whatsap.png");
    background-repeat: no-repeat;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .highlights__secundary:nth-of-type(5){
    background-image: url("../img/cs-go.jpg");
    background-repeat: no-repeat;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .highlights__title {}
}

.highlights__categories{
  .highlights__categories___list {}
  .highlights__categories___item {}
  .highlights__categories___link {}
  .highlights__categories___icone {}
}