.main {
  background-color: $c-orange;
  grid-area: main;
  width: 100%;
}

.highlights{
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(4, 33,33%);
  gap: .2rem;
  height: calc( 100vh - 5rem);
  text-align: center;
  .highlights__principal {
    background-image: url(".././img/fortinet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
		grid-column: 1 / 4;
		grid-row: 1 / 3;
    @include device( phone ){
      grid-column: 1 / 5;
      grid-row: 1 / 3;
    }
  }

  .highlights__secundary:nth-of-type(2) {
    background-image: url("../img/pubg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
		grid-column: 4 / 5;
		grid-row: 1 / 2;
    @include device( phone ){
      display: none;
      grid-column: none;
      grid-row: none;
    }
  }

  .highlights__secundary:nth-of-type(3){
    background-image: url("../img/slack.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
		grid-column: 4 / 5;
		grid-row: 2 / 3;
    @include device( phone ){
      display: none;
      grid-column: none;
      grid-row: none;
  }
}
  .highlights__secundary:nth-of-type(4){
    background-image: url("../img/whatsap.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
		grid-column: 4 / 5;
    grid-row: 3 / 4;
    @include device( phone ){
      display: none;
      grid-column: none;
      grid-row: none;
  }
}
 
  .highlights__secundary:nth-of-type(5){
    background-image: url("../img/cs-go.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    @include device( phone ){
      display: none;
      grid-column: none;
      grid-row: none;
    }
  }

  .highlights__title {
    color: $c-white;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: map-get($f-font-size, "small");
    font-weight: map-get($f-weight, "bold" );
    padding: .6rem;
    width: 100%;
  }
}

.highlights__categories{
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  @include device( phone ){
    display: none;
		grid-column: none;
		grid-row: none;
  }
  .highlights__categories___list {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    height: 100%;
  }
  .highlights__categories___item {
    background: $c-light;
    border: 5px solid $c-black;
    color: $c-gray-dark;
    padding: 1rem;
    
  }
  .highlights__categories___link {
    color: inherit;
  }
  .highlights__categories___icone {}
}

.box {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  
}

// section popular 
.popular {
  background-color: $c-light;
  padding: 3rem 2rem;
  
}

.popular__itens {
  
  .popular__info {}
	.popular__header {
		border-bottom: 1px solid $c-gray;
		display: flex;
		justify-content: space-between;

	}
  .popular__title {}
  .popular__button {
		background: transparent;
		border: none;
		color: $c-gray-dark;
	}
}

// incons
.bi-menu-up{}
.bi-app {}

// popular__content 
.popular__content{
  display: flex;
  flex-wrap: wrap;
  grid-area: card-content;
  padding: 1rem 0;
}

// popular card
.popular__card {
  background-color: $c-light;
  display: grid;
  grid-template-areas: "card-img"
                        "card-body";
  grid-template-columns: 100%;
  grid-template-rows: 174px auto;
  margin-left: 1rem;
  width: calc(20% - 1rem );
	.popular__card:last-child{
		margin-left: 0;
	}
  .popular__card___imagem {
    grid-area: card-img;
    width: 100%;
    height: 100%;
  }
}

.popular__card___body {
  display: grid;
  grid-area: card-body;
  grid-template-areas: "card-header"
                        "card-content";
  grid-template-rows: 50px auto;
  padding: .75rem;
  row-gap: .5rem;

}

.popular__card___header {
  
  .popular__card___title {
		color: $c-gray-dark;
		font-size: map-get($f-font-size, "medium");
	}
  .popular__card___data {
		color: $c-gray;
		font-size: map-get($f-font-size, "small");
	}
}

.popular__card___description {
	color: $c-gray-dark;
	line-height: 1.5;
	margin: 1rem 0;
	text-align: justify;
}
