// colors
$c-white: #f1f1f1;
$c-green: #00cc99;
$c-orange: #ff8080;
$c-blue: #0099ff;
$c-black: #000000;
// fonts
$f-roboto: 'Roboto', sans-serif;
$f-font-size: ( "normal": 1rem, "small": 1.563rem, "medium": 1.953rem, "big": 2.441rem  );
$f-weight: ( "light": 300, "normal": 400, "medium": 500, "bold": 700 );

